body {
    background-color: #b4d7c0;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: repeating-linear-gradient(45deg,
            #283f59 0,
            #283f59 20px,
            transparent 20px,
            transparent 40px);
}